asgiref==3.8.1
coverage==7.4.4
Django==4.2.11
django-cors-headers==4.3.1
exceptiongroup==1.2.0
iniconfig==2.0.0
packaging==24.0
pillow==10.3.0
pluggy==1.4.0
psycopg==3.1.18
psycopg2-binary==2.9.9
pytest==8.1.1
python-decouple==3.8
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.10.0
